* {
    margin: 0;
    padding: 0;
    font-family: Ubuntu;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    font-weight: 400;
}

nav {
    display: flex;
    flex-direction: column;
}

#logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    text-align: center;
    margin: .5rem auto;
}

#logo i {
    margin: 0 .1rem;
}

#about {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.links {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

main {
    display: flex;
    flex-direction: column;
}

main p:first-of-type {
    text-align: center;
}

main p {
    
    margin: .5rem 0;
}

.bang {
    font-size: 1.8rem;
}

#instructions {
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
}
#instructions li {
    margin: .5rem 0 .5rem 30%;
    font-size: 1.5rem;
}


.card {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;
    min-width: 300px;
}
  

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    margin-top: 1rem;
}

.card-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
  }

.card .step-title {
    display: flex;
    flex-wrap: wrap;
}
.card .step-title i {
    margin-left: 1rem;;
}
.card .step-title span {
    font-size: 1.5rem;
    margin-left: 5%;
}

.card h2 {
    font-size: 1.2rem;
    margin-left: 5%;
}
.card .step-title {
    width: 100%;
    text-align: center;
}
.actions {
    flex-direction: column;
    margin: 0 auto;
}
.actions li {
    margin: .2rem 0;
}

.completed {
    font-size: 3rem;
    color: rgba(136,193,0);
}

.result {
    margin-top: .25rem;
    text-align: center;
    width: 80%;
}

button {
    min-width: 50%;
    margin: 1rem auto 0 auto;
    padding: .5rem;
    font-size: 1.5rem;
    font-family: Ubuntu;
    font-weight: 700;
    border-radius: .5rem;
    outline: none;
}

.speed-form {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    height: 100%;
}
.speed-form input {
    font-size: 2rem;
    max-width: 20%;
    margin: 1rem;
    text-align: center;
}

.error {
    color: red;
    font-weight: bold;
}

#final-results {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
#final-results h2 {
    margin-top: 2rem;
    font-weight: 700;
    font-size: 2.5rem; 
}

.grades-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    width: 100%;
}


.grade-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 25vh;
    width: 35%;
    padding: 1rem; 
    text-align: center; 
    margin: 0 1rem;
}

.green {
    box-shadow: 0 8px 16px 12px rgba(0, 145, 43, 0.8);
    transition: 0.3s;
}
.green:hover {
    box-shadow: 0 12px 20px 16px rgba(0, 145, 43, 0.959);
  }
.yellow {
    box-shadow: 0 8px 16px 12px rgba(230, 214, 0, 0.8);
    transition: 0.3s;
}
.yellow:hover {
    box-shadow: 0 12px 20px 16px  rgba(230, 214, 0, 0.959);
  }
.red {
    box-shadow: 0 8px 16px 12px rgba(243, 32, 19, 0.8);
    transition: 0.3s;
}
.red:hover {
    box-shadow: 0 12px 20px 16px  rgba(243, 32, 19, 0.959);
  }

#recommendations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    width: 100%;
}
.recommendation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40vh;
    box-shadow: 0 8px 16px 12px rgba(0, 145, 43, 0.8);
    transition: 0.3s;
    border-radius: 15px;
    margin-top: 2rem;
}

.recommendation:hover {
    box-shadow: 0 12px 20px 16px rgba(0, 145, 43, 0.959);
  }

.recommendation img {
    height: 100px;
}
.recommendation a {
    text-decoration: none;
    margin-top: 1rem;
    color: black;
    width: 100%;
    text-align: center;
}
.recommendation p {
    margin-top: 1rem;
    max-width: 80%;
}